body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    background-image: url(cssimages/main_image.webp);
    height: 100vh;
    background-repeat: no-repeat; 
    z-index: 1;
}

    
.navbar{
    width: 140%;
    height: 80px;
    margin: 0 auto;
    background-color: white;
    z-index: 2;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 800px;
    margin-top: -55px;
}
li{
    display: block;
    padding: 0 20px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    }
li a{
    text-decoration: none;
    color:black;
    
}
ul:hover li a:hover{
color: red;
}

.logotype{ 
    height: inherit;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 350px;
}
.mainbannerword{
    margin-top: 150px;
    margin-left: 400px;
    color: gray;
    font-family: 'Noto Sans JP', sans-serif;
}
.mainbanner{
    margin-top: -45px;
    margin-left: 400px;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color:#2e2c2c;
    width: 480px;
    height: 200px;
}
.bannerdecription{
    margin-left: 400px;
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 500px;
}

.appstoremainimg{
margin-left: 400px;
}

.googleplaymainimg{
    margin-left: 625px;
    margin-top: -154px;
}

#how_it_works_article{
    text-align: center;
    color: gray;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin-top: 100px;
}
.how_it_works_banner{
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    text-align: center;
    margin-top: -20px;
    color:#2e2c2c
}

.how_it_works_downbanner{
    font-family:'Urbanist', sans-serif;
    font-size: 20px;
    text-align: center;
}

.how_it_works_container{
    display: flex;
    text-justify:inherit;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    height: 30vh;
    padding: 0 200px;
}

.how_it_works_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    color:#2e2c2c;
    text-align: center;
}

.how_it_works_descr{
    font-family:'Urbanist', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 300px;
}

.welcome_container{
    height:100vh;
    background-image: url(cssimages/carimage2.webp);
}
.welcome_banner{
    position:absolute; right:250;
    text-align: left;
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;
    color:#2e2c2c;
    width: 700;
    margin-top: 150px;
}
.welcome_description{
    position:absolute; right:450;
    margin-top: 350px;
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 500px;
}
