body{
    padding: 0;
    margin: 0;
}
.firstpage{
    display: block;
    margin:0 auto;
    background: url(cssimages/main_image.webp) no-repeat;
    min-height:870px;
    max-width: 2100px;
    background: cover;
}
.container{
    margin:0 auto;
    display: flex;
    flex-direction: column;
    margin-left: 400px;  
    margin-top: -70px;  
}
.navbar{
    min-height: 80px;
    background-color: white;
    z-index: 2;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -55px;
    margin-right: 270px;
}
li{
    display: block;
    padding: 0 20px;
    font-family:'Open Sans', sans-serif;
    font-size: 18px;
    }
li a{
    text-decoration: none;
    color:black;
    
}
ul:hover li a:hover{
color: red;
}

.logotype{ 
    height: inherit;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;

}
.main_banner{
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color:#2e2c2ce7;
    width: 480px;
    margin-top: 250px;
}
.main_banner_description{
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 500px;
    margin-top: 50px;
}
.download{
    display: flex;
    flex-direction: row;
    
}
.downlod_googleplay{
    margin-top: 50px;
}
.how_it_works{
    margin:0 auto;
    max-width: 2100px;
    min-height: 150px;
}

#how_it_works_article{
    text-align: center;
    color: gray;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin-top: 100px;
}
.how_it_works_banner{
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    text-align: center;
    color:#2e2c2c
}
.how_it_works_downbanner{
    font-family:'Urbanist', sans-serif;
    font-size: 20px;
    text-align: center;
}
.how_it_works_container{
    margin:0 auto;
    display: flex;
    text-justify:inherit;
    justify-content: space-around;
    text-align: center;
    margin-top: 50px;
    background-color: white;
    min-height: 350px;
    max-width: 2100px;
    padding: 0 200px;
}
.how_it_works_title{
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    color:#2e2c2c;
    text-align: center;
}
.how_it_works_descr{
    font-family:'Urbanist', sans-serif;
    font-size: 18px;
    text-align: center;
    width: 300px;
}
.welcome_container{
    margin:0 auto;
    display: grid;
    min-height: 870px;
    max-width: 2100px;
    background: url(cssimages/carimage2.webp);
    background-repeat: no-repeat;
    justify-content: end;
    align-content: center;
}
.wlecome_title_container{
    min-height: 820px;
    margin-top: 150px;

}
.welcome_banner{
    width: 700px;
    font-family: 'Work Sans', sans-serif;
    font-size: 46px;
    color:#2e2c2c;
    margin-right: 200px;  
}
.welcome_description{
    margin-top: 20px;
    font-family: 'Urbanist', sans-serif;
    font-size: 22px;
    width: 650px;
}
.wlecome_points{
    margin-top: 20px;
    width: 350px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    color: gray;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
}
.accept_description{
    margin-left: 20px;
}
.count_conteiner{
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.welcome_count{
    font-family: 'Work Sans', sans-serif;
    font-size: 38px;
    color:#7821e9;
}
.count_description_container{
        display: flex;
        justify-content: space-between;
        width: 550px;
}
.count_description{
    color: rgb(80, 80, 80);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}

.cars_section{
    margin:0 auto;
    background-color: white no-repeat;
    max-width: 2100px;
    min-height: 870px;
}
.cars_content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cars_article{
    color: gray;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
}
.cars_banner{
    font-family: 'Work Sans', sans-serif;
    font-size: 42px;
    color:#2e2c2c;
}
.cars_description{
    color: rgb(80, 80, 80);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
}
.carousel_container{
    margin:0 auto;
    margin-top: 150px;
    width: 1200px;
    min-height: 400px;
}

.our_app{
    min-height: 870px;
    margin:0 auto;
    display: flex; 
    background-color:white;
    justify-content:center;
    max-width: 2100px;
}
.mobile_phone{
    margin-right: 100px;
}
.our_app_description{
    width: 750px;
}
#app_article{
    color: gray;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
}
.app_banner{
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    color:#2e2c2ce7;
}
.app_descr{
font-family: 'Urbanist', sans-serif;
    font-size: 22px;
}
.app_icon {
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.appicon_descr{
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
}
.down_app_descr{
    font-family: 'Urbanist', sans-serif;
    font-size: 18px;
    margin-bottom: -20px;
}
